<div class="sidebar">
  <div class="logo-details">
    <div class="logo_name">BirdHouse</div>
    <i class='bx bx-menu' id="btn" ></i>
  </div>
  <ul class="nav-list">
    <li>
      <a href="/ui/admin/merchant-requests">
        <i class='bx bx-user' ></i>
        <span class="links_name">Merchant requests</span>
      </a>
      <span class="tooltip">Merchant requests</span>
    </li>
    <li>
      <a href="/ui/admin/asset-requests">
        <i class="bx bx-dollar-circle"></i>
        <span class="links_name">Assets requests</span>
      </a>
      <span class="tooltip">Assets requests</span>
    </li>
    <li>
      <a href="/ui/merchant/transactions">
        <i class="bx bx-grid-alt"></i>
        <span class="links_name">Merchant panel</span>
      </a>
      <span class="tooltip">Merchant panel</span>
    </li>
    <li class="profile">
      <div class="profile-details">
        <div class="name_job">
          <div class="name">Admin</div>
          <div class="job">Welcome to Birdhouse</div>
        </div>
      </div>
      <a href = "/logout">
        <i class='bx bx-log-out' id="log_out" ></i>
      </a>
    </li>
  </ul>
</div>