<div class="sidebar">
  <div class="logo-details">
    <div class="logo_name">BirdHouse</div>
    <i class='bx bx-menu' id="btn" ></i>
  </div>
  <ul class="nav-list">
    <li>
      <a href="/ui/merchant/transactions">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">Dashboard</span>
      </a>
      <span class="tooltip">Dashboard</span>
    </li>
    <li>
      <a href="/ui/merchant/users">
        <i class='bx bx-user' ></i>
        <span class="links_name">Users</span>
      </a>
      <span class="tooltip">Users</span>
    </li>
    <li>
      <a href="/ui/merchant/assets">
        <i class="bx bx-dollar-circle"></i>
        <span class="links_name">Assets</span>
      </a>
      <span class="tooltip">Assets</span>
    </li>
    <li>
      <a href="/ui/merchant/settings">
        <i class='bx bx-cog' ></i>
        <span class="links_name">Setting</span>
      </a>
      <span class="tooltip">Setting</span>
    </li>
    <li class="profile">
      <div class="profile-details">
        <div class="name_job">
          <div class="name">User Name</div>
          <div class="job">Birdhouse</div>
        </div>
      </div>
      <a href = "/logout">
        <i class='bx bx-log-out' id="log_out" ></i>
      </a>
    </li>
  </ul>
</div>