<div class="col-xl-3 col-md-6" style="flex: 0 0 100%;max-width: 100%;">
  <div class="card prod-p-card bg-c-green">
    <div class="card-body">
      <div class="row align-items-center m-b-10">
        <div class="col">
          <h3 class="m-b-5 text-white" id="blockchain">Coreum</h3>
        </div>
        <div class="col-auto">
          <i class="fas fa-money-bill-alt text-c-green f-18"></i>
        </div>
      </div>

      <h5 style="color: white">Wallets:</h5>
      <div class="column align-items-center m-b-10">

        {{ if ne .coreum_receiving_wallet "Not activated" }}
          <div class="col m-b-15">
            <label style="color: white">Receiving Wallet: {{ .coreum_receiving_balance }} {{ .coreum_asset }}</label>
            <h5 class="m-b-0"> <a href="https://explorer.testnet-1.coreum.dev/coreum/accounts/{{ .coreum_receiving_wallet }}">
              {{ .coreum_receiving_wallet }} </a></h5>
          </div>

          <div class="col-auto m-b-15">
            <label style="color: white">Sending Wallet: {{ .coreum_sending_balance }} {{ .coreum_asset }}</label>
            <h5 class="m-b-0"> <a href="https://explorer.testnet-1.coreum.dev/coreum/accounts/{{ .coreum_sending_wallet }}">
              {{ .coreum_sending_wallet }} </a></h5>
          </div>
        {{ else }}
          <div class="col m-b-15">
            <label style="color: white">Receiving Wallet: 0 {{ .coreum_asset }}</label>
            <h5 class="m-b-0">Not activated</h5>
          </div>

          <div class="col-auto m-b-15">
            <label style="color: white">Sending Wallet: 0 {{ .coreum_asset }}</label>
            <h5 class="m-b-0">Not activated</h5>
          </div>

          <button class="btn text-c-green" style="background-color: white" onclick="sendWalletData()">Create</button>
        {{ end }}

      </div>
    </div>
  </div>
</div>

<script>
  function sendWalletData() {
    var blockchainElement = document.getElementById('blockchain');
    var blockchain = blockchainElement.innerText.trim().toLowerCase();

    console.log(blockchain)
    var data = {
      blockchain: blockchain
    };

    // Send the data to the server using AJAX or fetch
    fetch('/ui/merchant/create_wallet', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    })
            .then(function(response) {
              // Handle the response from the server
              console.log('Response:', response);
            })
            .catch(function(error) {
              // Handle any errors
              console.error('Error:', error);
            });
  }
</script>