<div class="col-xl-3 col-md-6" style="flex: 0 0 100%;max-width: 100%;">
  <div class="card prod-p-card bg-c-green">
    <div class="card-body">
      <div class="row align-items-center m-b-10">
        <div class="col">
          <h3 class="m-b-5 text-white" id="blockchainLabel">Coreum</h3>
        </div>
        <div class="col-auto">
          <i class="fas fa-money-bill-alt text-c-green f-18"></i>
        </div>
      </div>

      <h5 style="color: white">Wallets:</h5>
      <div class="row justify-content-around">

        {{ if ne .coreum_receiving_wallet "Not activated" }}
          <div class="col-auto m-b-15">
            <label style="color: white">Receiving Wallet: {{ .coreum_receiving_balance }} {{ .coreum_asset }}</label>
            <h5 class="m-b-0 text-white">
              <a style="color: white; text-decoration: underline"
                 href="https://explorer.testnet-1.coreum.dev/coreum/accounts/{{ .coreum_receiving_wallet }}"
                 target="_blank">
                {{ .coreum_receiving_wallet }}
              </a>
            </h5>
            <div class="input-group mb-3" style="margin-top: 5px; background-color: transparent">
              <input id="depositFrom" type="text" class="form-control" placeholder="Enter user's id(email)" name="depositFrom">
              <div class="input-group-append">
                <button class="btn text-c-green" style="background-color: white" onclick="deposit()">Deposit</button>
              </div>
            </div>
          </div>

          <div>
            <button class="btn text-c-green" style="background-color: white" onclick="openTransferForm()">
              <span>Transfer</span>
              <i class='bx bx-right-arrow-circle'></i>
            </button>
          </div>
          <div class="col-auto m-b-15">
            <label style="color: white">Sending Wallet: {{ .coreum_sending_balance }} {{ .coreum_asset }}</label>
            <h5 class="m-b-0 text-white">
              <a style="color: white; text-decoration: underline"
                 href="https://explorer.testnet-1.coreum.dev/coreum/accounts/{{ .coreum_sending_wallet }}"
                 target="_blank">
                {{ .coreum_sending_wallet }}
              </a>
            </h5>

            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseWithdrawForm"
                    aria-expanded="false" aria-controls="collapseExample" style="margin-top: 10px">
              Withdraw
            </button>
            <div class="collapse" id="collapseWithdrawForm">
              <input id="WithdrawTo" type="text" class="form-control" placeholder="User's wallet" name="WithdrawTo" style="margin: 5px 0">
              <input id="WithdrawExternalID" type="text" class="form-control" placeholder="User's id(email)" name="WithdrawExternalID">
              <input id="AssetIssuer" type="text" class="form-control" placeholder="Asset's issuer" name="AssetIssuer" style="margin-top: 5px">
              <div class="input-group mb-3" style="margin-top: 5px; background-color: transparent">
                <input id="AssetCode" type="text" class="form-control" placeholder="Asset's code" name="AssetCode">
                <input id="AssetAmount" type="text" class="form-control" placeholder="Amount of assets" name="AssetAmount">
                <div class="input-group-append">
                  <button class="btn text-c-green" style="background-color: white" onclick="withdraw()">Withdraw</button>
                </div>
              </div>
            </div>
          </div>
        {{ else }}
          <div class="col m-b-15">
            <label style="color: white">Receiving Wallet: {{ .coreum_receiving_balance }} {{ .coreum_asset }}</label>
            <h5 class="m-b-0 text-white" style="color: white">{{ .coreum_receiving_wallet }}</h5>
          </div>

          <div class="col-auto m-b-15">
            <label style="color: white">Sending Wallet: {{ .coreum_sending_balance }} {{ .coreum_asset }}</label>
            <h5 class="m-b-0 text-white" style="color: white">{{ .coreum_sending_wallet }}</h5>
          </div>

          <button class="btn text-c-green" style="background-color: white" onclick="sendWalletData()">Create</button>
        {{ end }}
      </div>
    </div>
  </div>
</div>

<script>
  function sendWalletData() {
    var data = {
      blockchain: 'coreum'
    };

    // Send the data to the server using AJAX or fetch
    fetch('/ui/merchant/create_wallet', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    })
            .then(response => response.json())
            .then(responseData => {
              // Handle the response data
              if (responseData.message === "Updated successfully") {
                location.reload()
              }
            })
            .catch(error => {
              // Handle any errors
              console.error('Error:', error);
            });
  }

  function deposit() {
    var blockchainElement = document.getElementById('blockchainLabel');
    var blockchain = blockchainElement.innerText.trim().toLowerCase();
    var externalID = document.getElementById("depositFrom").value.trim().toLowerCase();

    var data = {
      blockchain: blockchain,
      externalID: externalID
    };

    fetch('/ui/merchant/deposit', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    })
            .then(response => response.json())
            .then(responseData => {
              // Handle the response data
              if (responseData.message === "Updated successfully") {
                console.log(responseData);
                location.reload();
              }
            })
            .catch(error => {
              // Handle any errors
              console.error('Error:', error);
            });

  }

  function openTransferForm() {
    var form = document.getElementById("transferForm")
    form.style.display = "block";
  }

  function closeTransferForm() {
    var form = document.getElementById("transferForm")
    form.style.display = "none";
  }

  function withdraw() {
    var amount = parseFloat(document.getElementById("AssetAmount").value);
    var blockchain = document.getElementById('blockchainLabel').innerText.trim().toLowerCase();
    var walletAddress = document.getElementById("WithdrawTo").value.trim().toLowerCase();
    var asset = document.getElementById("AssetCode").value.trim().toLowerCase();
    var issuer = document.getElementById("AssetIssuer").value.trim().toLowerCase();
    var externalID = document.getElementById("WithdrawExternalID").value.trim().toLowerCase();

    var data = {
      amount: amount,
      blockchain: blockchain,
      wallet_address: walletAddress,
      asset: asset,
      issuer: issuer,
      externalID: externalID
    };
    console.log(data)

    fetch('/ui/merchant/withdraw', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    })
            .then(response => response.json())
            .then(responseData => {
              // Handle the response data
              if (responseData.message === "Updated successfully") {
                console.log(responseData);
                location.reload();
              }
            })
            .catch(error => {
              // Handle any errors
              console.error('Error:', error);
            });

  }

  function outsideClick(event) {
    if (!formContainer.contains(event.target)) {
      closeTransferForm();
    }
  }
</script>