<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content=""/>
	<meta name="keywords"
		content="">
	<meta name="author" content="Codedthemes, BirdHouse" />

	<!-- Favicon icon -->
	<link rel="icon" href="../../assets/images/favicon.ico" type="image/x-icon">
	<!-- fontawesome icon -->
	<link rel="stylesheet" href="../../assets/fonts/fontawesome/css/fontawesome-all.min.css">
	<!-- animation css -->
	<link rel="stylesheet" href="../../assets/plugins/animation/css/animate.min.css">
	<!-- vendor css -->
	<link rel="stylesheet" href="../../assets/css/style.css">

	<link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<style>

		.form-popup {
			display: none;
			position: fixed;
			z-index: 1;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: rgba(0, 0, 0, 0.5);
		}

		.form-container {
			background-color: #fefefe;
			margin: 10% auto;
			padding: 20px;
			border: 1px solid #888;
			width: 80%;
		}

		.form-container h2 {
			text-align: center;
			margin-bottom: 20px;
		}

		.form-container input[type=text], .form-container input[type=email] {
			width: 100%;
			padding: 12px 20px;
			margin: 8px 0;
			border: 1px solid #ccc;
			box-sizing: border-box;
		}

		.form-container .btn {
			background-color: #4CAF50;
			color: white;
			padding: 12px 20px;
			border: none;
			cursor: pointer;
			width: 100%;
			margin-bottom: 10px;
		}

		.form-container .cancel {
			background-color: #ccc;
		}
	</style>

	<title>Settings</title>
</head>

<body class="">
	<!-- [ Pre-loader ] start -->
	<div class="loader-bg">
		<div class="loader-track">
			<div class="loader-fill"></div>
		</div>
	</div>
	<!-- [ Pre-loader ] End -->
	<!-- [ Pre-loader ] End -->

	{{ template "sidebar.html" . }}
	<section class="home-section">
	<!-- [ Main Content ] start -->
		<div class="pcoded-main-container">
			<div class="pcoded-wrapper">
				<div class="pcoded-content">
					<div class="pcoded-inner-content">
						<div class="main-body">
							<div class="page-wrapper">
								<!-- [ breadcrumb ] start -->
								<div class="page-header">
									<div class="page-block">
										<div class="row align-items-center">
											<div class="col-md-12">
												<div class="page-header-title">
													<h5 class="m-b-10">Settings</h5>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- [ breadcrumb ] end -->
								<!-- [ Main Content ] start -->
								<div class="row">
									<!-- [ form-element ] start -->
									<div class="col-sm-12">
										<div class="card">
											<div class="card-body">
												<h5>Public Key setting</h5>
												<hr>
												<div class="row">
													<div class="col-md-6">
														<form action="/submit_public_key" method="post">
															<div class="form-group">
																<label for="public_key">Enter your Public Key</label>
																<textarea class="form-control" id="public_key" name="public_key" rows="3" placeholder="{{ .key }}"></textarea>
															</div>
															<button type="submit" class="btn btn-primary">Submit</button>
														</form>
													</div>
												</div>
											</div>
										</div>
										<div class="card">
											<div class="card-body">
												<h5>Set CallBack URL</h5>
												<form action="/submit_callback_url" method="post">
													<div class="form-group">
														<label for="callback_url">Your callback url</label>
														<input class="form-control" type="text" id="callback_url" name="callback_url" placeholder="{{ .callback_url }}"/>
													</div>
													<button type="submit" class="btn btn-primary">Submit</button>
												</form>
												<br/>
												<h6>Your callback url should support the following entry points:</h6>
												<div class="card-block">
													<div>
														<h5>/addresses <span class="badge badge-primary">GET</span></h5>
														Provide all the addresses needed to sign a transaction
													</div>
													<br/>
													<div>
														<h5>/sign <span class="badge badge-success">POST</span></h5>
														Sign a transaction using multi-signature
													</div>
													<br/>
													<div>
														<h5>/transactions <span class="badge badge-success">POST</span></h5>
														Receive information about processed transactions
													</div>
												</div>
											</div>
										</div>
										<div class="card">
											<div class="card-body">
												<h5>List of tokens connected</h5>
												<hr>
												<div class="table-responsive">
													<div class="session-scroll" style="height:478px;position:relative;">
														<table class="table table-hover m-b-0">
															{{ .tokens }}
														</table>
													</div>
												</div>
											</div>

											</div>
										</div>
									</div>
									<!-- [ form-element ] end -->
								<div id="myFormBurn" class="form-popup">
									<div id="form-container-burn" class="form-container" style="background-color: transparent; border: 0px">
										<form class="form-container" style="margin: 0px; width: 100%">
											<h2>Burn Tokens</h2>

											<label for="burn">Burn Amount</label>
											<input id="burn" type="text" placeholder="Enter amount to burn" name="burn" required>

											<button type="submit" class="btn" onclick="Burn()">Submit</button>
											<button style="background-color: gray" class="btn" onclick="closeFormBurn()">Close</button>
										</form>
									</div>
								</div>
								<div id="myFormMint" class="form-popup">
									<div id="form-container-mint" class="form-container" style="background-color: transparent; border: 0px">
										<form class="form-container" style="margin: 0px; width: 100%">
											<h2>Mint Tokens</h2>

											<label for="mint">Mint Amount</label>
											<input id="mint" type="text" placeholder="Enter amount to mint" name="mint" required>

											<button type="submit" class="btn" onclick="Mint()">Submit</button>
											<button style="background-color: gray" class="btn" onclick="closeFormMint()">Close</button>
										</form>
									</div>
								</div>
									<!-- [ Main Content ] end -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>
	<!-- [ Main Content ] end -->

	<script src="../../assets/js/vendor-all.min.js"></script>
	<script src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="../../assets/js/pages/pc.js"></script>

	<!-- [ Navbar script ] end -->
	<script>
		let sidebar = document.querySelector(".sidebar");
		let closeBtn = document.querySelector("#btn");
		let searchBtn = document.querySelector(".bx-search");
		let formPopupMint = document.getElementById("myFormMint");
		let formPopupBurn = document.getElementById("myFormBurn");
		let burnAmount = document.getElementById("burn");
		let mintAmount = document.getElementById("mint");
		let issuerAddress = ""
		let burnCode = ""
		let mintCode = ""
		closeBtn.addEventListener("click", ()=>{
			sidebar.classList.toggle("open");
			menuBtnChange();//calling the function(optional)
		});
		searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
			sidebar.classList.toggle("open");
			menuBtnChange(); //calling the function(optional)
		});
		// following are the code to change sidebar button(optional)
		function menuBtnChange() {
			if(sidebar.classList.contains("open")){
				closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
			}else {
				closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
			}
		}

		function openFormBurn(code, issuer) {
			formPopupBurn.style.display = "block";
			burnCode = code
			issuerAddress = issuer
		}
		// Close the form pop-up
		function closeFormBurn() {
			formPopupBurn.style.display = "none";
		}
		function openFormMint(code, issuer) {
			formPopupMint.style.display = "block";
			mintCode = code
			issuerAddress = issuer
		}
		// Close the form pop-up
		function closeFormMint() {
			formPopupMint.style.display = "none";
		}

		function Burn(){
			const json = {
				code: burnCode,
				blockchain: 'coreum',
				amount: burnAmount.value,
				issuer: issuerAddress,
			}
			let request = new XMLHttpRequest();
			request.open("POST", "burn");
			request.setRequestHeader('Content-Type', 'application/json');
			console.log(json);
			request.send(JSON.stringify(json));
		}
		function Mint(){
			const json = {
				code: mintCode,
				blockchain: 'coreum',
				amount: mintAmount.value,
				issuer: issuerAddress,
			}
			let request = new XMLHttpRequest();
			request.open("POST", "mint");
			request.setRequestHeader('Content-Type', 'application/json');
			console.log(json);
			request.send(JSON.stringify(json));
		}
	</script>
</body>

</html>
