<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content=""/>
  <meta name="keywords"
        content="">
  <meta name="author" content="Codedthemes, BirdHouse" />

  <!-- Favicon icon -->
  <link rel="icon" href="../../assets/images/favicon.ico" type="image/x-icon">
  <!-- fontawesome icon -->
  <link rel="stylesheet" href="../../assets/fonts/fontawesome/css/fontawesome-all.min.css">
  <!-- animation css -->
  <link rel="stylesheet" href="../../assets/plugins/animation/css/animate.min.css">
  <!-- vendor css -->
  <link rel="stylesheet" href="../../assets/css/style.css">

  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>

    .form-popup {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .form-container {
      background-color: #fefefe;
      margin: 10% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
    }

    .form-container h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    .form-container input[type=text], .form-container input[type=email] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }

    .form-container .btn {
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom: 10px;
    }

    .form-container .cancel {
      background-color: #ccc;
    }
  </style>

  <title>User management</title>
</head>

<body class="">
<!-- [ Pre-loader ] start -->
<div class="loader-bg">
  <div class="loader-track">
    <div class="loader-fill"></div>
  </div>
</div>
<!-- [ Pre-loader ] End -->
<!-- [ Pre-loader ] End -->

{{template "sidebar.html" .}}
<section class="home-section">
  <!-- [ Main Content ] start -->
  <div class="pcoded-main-container" style="margin-left: 10px">
    <div class="pcoded-wrapper">
      <div class="pcoded-content"	>
        <div class="pcoded-inner-content">
          <div class="main-body">
            <div class="page-wrapper">
              <!-- [ breadcrumb ] start -->
              <div class="page-header">
                <div class="page-block">
                  <div class="row align-items-center">
                    <div class="col-md-12">
                      <div class="page-header-title">
                        <h5>Home</h5>
                      </div>
                      <ul class="breadcrumb">
                        <li class="breadcrumb-item">Current guid: {{ .guid }}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                {{ template "wallet_card.html" . }}
                <div class="col-xl-8 col-md-6" style="flex: 0 0 100%; max-width: 100%">
                  <div class="card table-card">
                    <div class="card-header">
                      <h5>Assets</h5>
                      <a onclick="openForm()" class="action_btn point success" style="float: right; color: green;">Add already existing asset</a>
                      <br>
                      <br>
                      <a onclick="openFormCreate()" class="action_btn point success" style="float: right; color: deepskyblue">Create new asset</a>
                    </div>

                    <div class="card-body px-0 py-0">
                      <div class="table-responsive">
                        <div class="session-scroll" style="height:478px;position:relative;">
                          <table class="table table-hover m-b-0">
                            <thead>
                            <tr>
                              <th>
                                <span>CREATED AT</span>
                              </th>
                              <th>
                                    <span>NAME</span>
                              </th>
                              <th>
                                    <span>CODE</span>
                              </th>
                              <th>
                                    <span>BLOCKCHAIN</span>
                              </th>
                              <th>
                                    <span>DESCRIPTION</span>
                              </th>
                              <th>
                                <span></span>
                              </th>
                            </tr>
                            </thead>
                            {{ range .assets }}
                            <tbody>
                            <tr>
                              <td> {{ .CreatedAt.Format "2006-01-02" }} </td>
                              <td> {{ .Name }} </td>
                              <td> {{ .Code }} </td>
                              <td> {{ .BlockChain }} </td>
                              <td> {{ .Description }} </td>
                            </tr>
                            </tbody>
                            {{ end }}
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="myForm" class="form-popup">
                <div id="form-container" class="form-container" style="background-color: transparent; border: 0px">
                  <form id="form" class="form-container" style="margin: 0px; width: 100%" action="/ui/merchant/assets" method="POST">
                    <h2 id="h">Send request to add new asset</h2>

                    <label for="blockchain">Blockchain:</label>
                    <input id="blockchain" type="text" placeholder="Enter blockchain" name="blockchain" required>

                    <label for="name">Name of asset</label>
                    <input id="name" type="text" placeholder="Enter name of asset" name="name" required>

                    <label for="code">Code of asset(short name)</label>
                    <input id="code" type="text" placeholder="Enter code of asset" name="code" required>

                    <label for="description">Description of asset</label>
                    <input id="description" type="text" placeholder="Enter description of asset" name="description" required>

                    <label for="assetType">Type of asset</label>
                    <input id="assetType" type="text" placeholder="Enter type of asset" name="assetType" required>

                    <label id="label" for="issuer">Issuer of token</label>
                    <input id="issuer" type="text" placeholder="Enter address" name="issuer">

                    <button type="submit" class="btn">Submit</button>
                  </form>
                </div>
              </div>
              <!-- [ Main Content ] end -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- [ Main Content ] end -->

<script src="../../assets/js/vendor-all.min.js"></script>
<script src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../../assets/js/pages/pc.js"></script>

<!-- [ Navbar script ] end -->
<script>
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");
  let formPopup = document.getElementById("myForm");
  let formContainer = document.getElementById("form-container");

  formPopup.addEventListener("click", outsideClick);

  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    menuBtnChange();//calling the function(optional)
  });
  searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
    sidebar.classList.toggle("open");
    menuBtnChange(); //calling the function(optional)
  });

  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
    if(sidebar.classList.contains("open")){
      closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
    }else {
      closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
    }
  }
  function openForm() {
    formPopup.style.display = "block";
    document.getElementById("h").textContent = "Send request to add new asset";
    document.getElementById("issuer").style.display = "block";
    document.getElementById("label").style.display = "block";
    document.getElementById("issuer").required = true;
  }

  function openFormCreate() {
    formPopup.style.display = "block";
    document.getElementById("h").textContent = "Send request to create new asset"
    document.getElementById("issuer").style.display = "none";
    document.getElementById("label").style.display = "none";
    document.getElementById("issuer").required = false;
  }

  // Close the form pop-up
  function closeForm() {
    formPopup.style.display = "block";
    formPopup.style.display = "none";
  }

  function submitRequest() {
    var form = document.getElementById("form"); // Get the form element
    var formData = new FormData(form); // Collect form data
    console.log(formData);

    fetch("/ui/merchant/assets", {
      method: 'POST',
      body: formData
    })
            .then(function(response) {
              // Handle the response from the server
              console.log('Response:', response);
            })
            .catch(function(error) {
              // Handle any errors
              console.error('Error:', error);
            });
  }


  // Handle clicks outside the form pop-up
  function outsideClick(event) {
    if (!formContainer.contains(event.target)) {
      closeForm();
    }
  }
</script>
</body>

</html>
